{% include 'header.html' %}
    <div class="container">
        {% include 'notifications.html' %}
        
        <h1>Risultati ricerca per: {{ query }}</h1>

        <pre>Tempo di ricerca: {{ time | round(3) }}s</pre>
        
        {% for r in results %}
            <div class="result-block">
                <div class="result-type">{{ r.tipo }}</div>
                <a href="{{ r.url }}" class="result-title">{{ r.titolo }}</a>
                <div class="result-url"><pre>{{ r.url }}</pre></div>
                <div class="result-snippet">{{ r.snippet | safe }}</div>
            </div>
        {% else %}
            <p>Nessun risultato trovato.</p>
        {% endfor %}
    </div>

    {% include 'footer.html' %}
</html>
