<!DOCTYPE html>
<html lang="it">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>Risultati ricerca</title>
</head>

{% include 'header.html' %}

<body>
    <div class="container">
        {% include 'notifications.html' %}
        
        <h1>Risultati ricerca per: {{ query }}</h1>
        
        {% if anagrafiche %}
            <h2>Anagrafiche:</h2>
            
            <ul class="card-container">
                {% for a in anagrafiche %}
                    <li class="card search-card">
                        <div class="card-info">
                            <h3><a href="#">{{ a.nome }} {{ a.cognome }}</a></h3>
                            {{ a.email }}<br>
                            {{ a.tel }}
                        </div>
                    </li>
                {% endfor %}
            </ul>
        {% endif %}
        
        {% if localita %}
            <h2>Località</h2>

            <ul class="card-container">
                {% for l in localita %}
                    <li class="card search-card">
                        <div class="card-info">
                            {% if l.denom %}
                                <h3><a href="#">{{ l.denom }}</a></h3>
                                {{ l.via }}<br>
                                {{ l.cap }} {{ l.citta }} ({{ l.provincia }})
                            {% else %}
                                <h3><a href="#">{{ l.via }}</a></h3>
                                {{ l.cap }} {{ l.citta }} ({{ l.provincia }})
                            {% endif %}
                        </div>
                        
                    </li>
                {% endfor %}
            </ul>
        {% endif %}
        
        {% if enti %}
            <h2>Enti</h2>

            <ul class="card-container">
                {% for e in enti %}
                    <li class="card search-card">
                        <div class="card-info">
                            <h3><a href="#">{{ e.nome }}</a></h3>
                            {{ e.email }}<br>
                            {{ e.tel }}
                        </div>
                    </li>
                {% endfor %}
            </ul>
        {% endif %}
        
        {% if schede %}
            <h2>Schede US</h2>

            <ul class="card-container">
                {% for s in schede %}
                    <li class="card search-card">
                        <div class="card-info">
                            <h3><a href="#">US {{ s.num_us }}</a></h3>
                            {{ s.descrizione }} ({{ s.data.strftime('%d/%m/%Y') }})<br>
                            {{ s.ente_responsabile.nome}}
                        </div>
                    </li>
                {% endfor %}
            </ul>
        {% endif %}
        
        {% if reperti %}
            <h2>Reperti notevoli</h2>

            <ul class="card-container">
                {% for r in reperti %}
                    <li class="card search-card">
                        <h3><a href="#">RR {{ r.id }}</a></h3>
                        Cassa {{ r.numero_cassa }}
                        Sito {{ r.sito }}
                        {{ r.data.strftime('%d/%m/%Y') }}
                    </li>
                {% endfor %}
            </ul>
        {% endif %}
    </div>

    {% include 'footer.html' %}

</body>
</html>
