<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>Scheda US {{ scheda.num_us }}</title>
</head>

{% include 'header.html' %}

<body>
    <div class="container">
        {% include 'notifications.html' %}

        <h1>Unità stratigrafica {{ scheda.num_us }}</h1>
        
        <table class="scheda-us" style="table-layout: fixed; width: 100%"><colgroup>
            <col style="width: 16,6%">
            <col style="width: 16,6%">
            <col style="width: 16,6%">
            <col style="width: 16,6%">
            <col style="width: 16,6%">
            <col style="width: 16,6%">
            </colgroup>
            <tbody>
              <tr>
                <td style="text-align: center;">
                    <p style="font-size: 2.2rem; margin: 0;">US</p><br>
                    <p style="font-size: 1.2rem; margin: 0;">{{ scheda.num_us }}</p><br>
                </td>
                <td colspan="4">
                    <strong>Ente responsabile</strong><br>
                    {{ scheda.ente_responsabile.nome }}<br>
                    {{ scheda.ente_responsabile.localita.via }}<br>
                    {{ scheda.ente_responsabile.localita.cap }} {{ scheda.ente_responsabile.localita.citta }} ({{ scheda.ente_responsabile.localita.provincia }})<br>
                </td>
                <td><strong>Data</strong><br>{{ scheda.data.strftime('%d/%m/%Y') }}</td>
              </tr>            
              <tr>
                <td colspan="4"><strong>Località</strong><br>{{ scheda.localita.denom }}<br>{{ scheda.localita.via }}, {{ scheda.localita.cap }} - {{ scheda.localita.citta }} ({{ scheda.localita.provincia }})</td>
                <td colspan="1"><strong>Quadrato:</strong><br>{{ scheda.quadrato }}</td>
                <td colspan="1"><strong>Settore:</strong><br>{{ scheda.settore }}</td>
            </tr>
              <tr>
                <td colspan="6">
                    <strong>Modo di formazione</strong><br>{{ scheda.modo_formazione }}
                </td>
              </tr>
              <tr>
                <td colspan="3"><strong>Componenti organici</strong><br>{{ scheda.comp_organici }}</td>
                <td colspan="3"><strong>Componenti inorganici</strong><br>{{ scheda.comp_inorganici }} </td>
              </tr>
              <tr>
                <td colspan="2"><strong>Consistenza:</strong><br>{{ scheda.consistenza }}</td>
                <td colspan="2"><strong>Colore:</strong><br>{{ scheda.colore }}</td>
                <td colspan="2"><strong>Misure:</strong><br>{{ scheda.misure }}</td>
              </tr>
              <tr>
                <td colspan="6"><strong>Descrizione</strong><br>{{ scheda.descrizione }}</td>
              </tr>
              <tr>
                <td colspan="6"><strong>Note e osservazioni</strong><br>{{ scheda.note }}</td>
              </tr>
              <tr>
                <td colspan="6"><strong>Interpretazione</strong><br>{{ scheda.interpretazione }}</td>
              </tr>
              <tr>
                <td colspan="6"><strong>Elementi datanti</strong><br>{{ scheda.elem_datanti }}</td>
              </tr>
              <tr>
                <td colspan="3"><strong>Composizione</strong><br>{{ scheda.composizione }}</td>
                <td colspan="3"><strong>Elementi datanti</strong><br>{{ scheda.elem_datanti }}</td>
              </tr>
              <tr>
                <td colspan="2">
                    <strong>Campionature:</strong><br>{{ 'Sì' if scheda.campionature else 'No' }}
                </td>
                <td colspan="2">
                    <strong>Flottazione:</strong><br>
                    {% set value_map = {
                        'si': 'Sì',
                        'no': 'No',
                        'a_campione': 'A campione',
                        'integrale': 'Integrale'
                    } %}
                    {{ value_map.get(scheda.flottazione, 'Valore sconosciuto') }}
                </td>
                <td colspan="2">
                    <strong>Setacciatura:</strong><br>
                    {{ value_map.get(scheda.setacciatura, 'Valore sconosciuto') }}
                </td>
              </tr>
              <tr>
                <td colspan="6"><strong>Affidabilità stratigrafica</strong><br>{{ scheda.affidabilita_strat }}</td>
              </tr>
              <tr>
                <td colspan="6"><strong>Responsabile</strong><br>{{ scheda.responsabile.nome }} {{ scheda.responsabile.cognome }}</td>
              </tr>
              <tr>
                <td colspan="6"><strong>Responsabile scientifico</strong><br>{{ scheda.responsabile_scientifico.nome }} {{ scheda.responsabile_scientifico.cognome }}</td>
              </tr>
            </tbody></table>

        <h2>Relazioni di Sequenza</h2>
        
        <h3>Sequenze fisiche</h3>

        {% if rel_partenza or rel_arrivo %}
            <ul>
                {% if rel_partenza %}
                    {% for rel_p in rel_partenza %}
                        <li>
                            {% if rel_p.sequenza == "copre" %}
                                Copre US {{ rel_p.scheda_b.num_us}} - {{ rel_p.scheda_b.descrizione }} - <a href="{{ url_for('view.scheda', id=rel_p.id_seq_b) }}">Vedi scheda</a>
                            {% elif rel_p.sequenza == "taglia" %}
                                Taglia US {{ rel_p.scheda_b.num_us}} - {{ rel_p.scheda_b.descrizione }} - <a href="{{ url_for('view.scheda', id=rel_p.id_seq_b) }}">Vedi scheda</a>
                            {% elif rel_p.sequenza == "riempie" %}
                                Riempie US {{ rel_p.scheda_b.num_us}} - {{ rel_p.scheda_b.descrizione }} - <a href="{{ url_for('view.scheda', id=rel_p.id_seq_b) }}">Vedi scheda</a>
                            {% elif rel_p.sequenza == "si_appoggia_a" %}
                                Si appoggia a US {{ rel_p.scheda_b.num_us}} - {{ rel_p.scheda_b.descrizione }} - <a href="{{ url_for('view.scheda', id=rel_p.id_seq_b) }}">Vedi scheda</a>
                            {% elif rel_p.sequenza == "uguale_a" %}
                                Uguale a US {{ rel_p.scheda_b.num_us}} - {{ rel_p.scheda_b.descrizione }} - <a href="{{ url_for('view.scheda', id=rel_p.id_seq_b) }}">Vedi scheda</a>
                            {% elif rel_p.sequenza == "si_lega_a" %}
                                Si lega a US {{ rel_p.scheda_b.num_us}} - {{ rel_p.scheda_b.descrizione }} - <a href="{{ url_for('view.scheda', id=rel_p.id_seq_b) }}">Vedi scheda</a>
                            {% endif %}
                        </li>
                    {% endfor %}
                {% endif %}

                {% if rel_arrivo %}
                    {% for rel_a in rel_arrivo %}
                        <li>
                            {% if rel_a.sequenza == "copre" %}
                                Coperta da US {{ rel_a.scheda_a.num_us }} - {{ rel_a.scheda_a.descrizione }} - <a href="{{ url_for('view.scheda', id=rel_a.id_seq_a) }}">Vedi scheda</a>
                            {% elif rel_a.sequenza == "taglia" %}
                                Tagliata da US {{ rel_a.scheda_a.num_us }} - {{ rel_a.scheda_a.descrizione }} - <a href="{{ url_for('view.scheda', id=rel_a.id_seq_a) }}">Vedi scheda</a>
                            {% elif rel_a.sequenza == "riempie" %}
                                Riempita da US {{ rel_a.scheda_a.num_us }} - {{ rel_a.scheda_a.descrizione }} - <a href="{{ url_for('view.scheda', id=rel_a.id_seq_a) }}">Vedi scheda</a>
                            {% elif rel_a.sequenza == "si_appoggia_a" %}
                                Gli si appoggia US {{ rel_a.scheda_a.num_us }} - {{ rel_a.scheda_a.descrizione }} - <a href="{{ url_for('view.scheda', id=rel_a.id_seq_a) }}">Vedi scheda</a>
                            {% elif rel_a.sequenza == "uguale_a" %}
                                Uguale a US {{ rel_a.scheda_a.num_us }} - {{ rel_a.scheda_a.descrizione }} - <a href="{{ url_for('view.scheda', id=rel_a.id_seq_a) }}">Vedi scheda</a>
                            {% elif rel_a.sequenza == "si_lega_a" %}
                                Si lega a US {{ rel_a.scheda_a.num_us }} - {{ rel_a.scheda_a.descrizione }} - <a href="{{ url_for('view.scheda', id=rel_a.id_seq_a) }}">Vedi scheda</a>
                            {% endif %}
                        </li>
                    {% endfor %}
                {% endif %}
            </ul>
        {% endif %}

        <a href="{{ url_for('create.nuova_sequenza_fisica') }}" class="button-link">Aggiungi seguenza fisica</a>
        
        <h3>Sequenze stratigrafiche</h3>

        {% if rel_strat_partenza or rel_strat_arrivo %}
        
            <ul>

            {% if rel_strat_partenza %}
                {% for rel in rel_strat_partenza %}
                    <li>
                        Posteriore a US {{ rel.scheda_strat_b.num_us }} - {{ rel.scheda_strat_b.descrizione }} - <a href="{{ url_for('view.scheda', id=rel.id_seq_b) }}">Vedi scheda</a>
                    </li>
                {% endfor %}
            {% endif %}

            {% if rel_strat_arrivo %}
                {% for rel in rel_strat_arrivo %}
                    <li>
                        Anteriore a US {{ rel.scheda_strat_a.num_us }} - {{ rel.scheda_strat_a.descrizione }} - <a href="{{ url_for('view.scheda', id=rel.id_seq_a) }}">Vedi scheda</a>
                    </li>
                {% endfor %}
            {% endif %}
            
            </ul>
        {% endif %}
        
        <a href="{{ url_for('create.nuova_sequenza_stratigrafica') }}" class="button-link">Aggiungi seguenza stratigrafica</a>
        
        <h2>Reperti</h2>

        {% if reperti_notevoli %}
            <ul>
                {% for r in reperti_notevoli %}
                    <li>
                        <strong>Reperto {{ r.id }}</strong> - {{ r.descrizione }} - <a href="#">Vedi reperto</a>
                    </li>
                {% endfor %}
            </ul>
        {% else %}
            <p>Nessun reperto notevole trovato.</p>
        {% endif %}

        <h2>Allegati</h2>

        <h3>Fotografie:</h3>

        {% if foto %}
        
        <div class="gallery">
            {% for f in foto %}
                <div class="gallery-item">
                    <a href="{{ url_for('view.photo', filename=f.filename) }}" target="_blank">
                        <img src="{{ url_for('view.photo', filename=f.filename) }}">
                        <!-- <p>{{ f.filename }}</p> -->
                    </a>
                </div>
            {% endfor %}
            </div>
        {% else %}
            <p>Nessuna fotografia trovata.</p>
        {% endif %}

        <a href="{{ url_for('modify.upload_photos', id=scheda.id) }}" class="button-link">Carica altre foto</a>

        <h3>Pianta:</h3>

        {% if piante %}
        
        <ul>
            {% for p in piante %}
                <li>
                    <a href="{{ '/' ~ p.path_piante }}">{{ p.path_piante }}</a>
                </li>
            {% endfor %}
        </ul>
        {% else %}
            <a href="#" class="button-link">Carica pianta</a>
        {% endif %}
        
        <h3>Ortofoto:</h3>

        {% if ortofoto %}
        
        <ul>
            {% for o in ortofoto %}
                <li>
                    <a href="{{ '/' ~ o.path_ortofoto }}">{{ o.path_ortofoto }}</a>
                </li>
            {% endfor %}
        </ul>
        {% else %}
            <a href="#" class="button-link">Carica ortofoto</a>
        {% endif %}

        <br><br>
        <a href="{{ url_for('view.visualizza_schede') }}" class="button-link">Torna alla lista</a>
        
    </div>

    {% include 'footer.html' %}
</body>
</html>
