<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>Località</title>
</head>

{% include 'header.html' %}

<body>
    <div class="container">
        <h1>Località</h1>

        {% include 'notifications.html' %}

        <ul class="card-container">
            {% for loc in records %}
                <li class="card">
                    {% if loc.denom %}
                        <h3>{{ loc.denom }}</h3>
                        {{ loc.via }}<br>
                        {{ loc.cap }} {{ loc.citta }} ({{ loc.provincia }})<br>
                    {% else %}
                        <h3>{{ loc.via }}</h3>
                        {{ loc.cap }} {{ loc.citta }} ({{ loc.provincia }})<br>
                    {% endif %}
                    
                    <br>
                    <form method="POST" action="{{ url_for('delete.elimina_localita', id_localita=loc.id) }}" onsubmit="return confirm('Sei sicuro di voler eliminare questa località?');">
                        <button type="submit">Elimina</button>
                    </form>
                </li>
            {% else %}
                <li>Nessun record presente.</li>
            {% endfor %}
        </ul>
    </div>

    {% include 'footer.html' %}

</body>
</html>
