{% include 'header.html' %}

<body>
    <div class="container">
        {% include 'notifications.html' %}

        <h1>Schede US</h1>

        {% if records %}
        <ul class="card-container">
            {% for scheda in records %}
                <li class="card card--flex">
                    <img src="{{ url_for('static', filename='img/document.png') }}" class="card-img">
                    <div class="card-info">
                        <h3><a href="{{ url_for('view.scheda', id=scheda.id) }}">Scheda {{ scheda.num_us }}</a></h3>
                        {{ scheda.descrizione }} ({{ scheda.data.strftime('%d/%m/%Y') }})<br>
                        {{ scheda.ente_responsabile.nome}}
                    </div>
                </li>
            {% endfor %}
            </ul>
        {% else %}
            <p>Nessun record presente.</p>
        {% endif %}
    </div>

    {% include 'footer.html' %}
</body>
</html>
