{% include 'header.html' %}
    <div class="container">
        {% include 'notifications.html' %}

        <h1>Schede US</h1>
        <a href="{{ url_for('preferences.switch_default_view') }}">Cambia vista</a>

        {% if records or rows %}
            {% if session.default_view == 'card' %}
            <!-- Visualizzazione a schede -->
            <ul class="card-container">
                {% for scheda in records %}
                    <li class="card card--flex">
                        <img src="{{ url_for('static', filename='img/document.png') }}" class="card-img">
                        <div class="card-info">
                            <h3><a href="{{ url_for('view.scheda', id=scheda.id) }}">Scheda {{ scheda.num_us }}</a></h3>
                            {{ scheda.descrizione }} ({{ scheda.data.strftime('%d/%m/%Y') }})<br>
                            {{ scheda.ente_responsabile.nome}}
                        </div>
                    </li>
                {% endfor %}
            </ul>
            {% elif session.default_view == 'grid' %}
            <!-- Visualizzazione a griglia -->
            {% import "include/table_macros.html" as tbl %}

                {{ tbl.render_table(headers, rows) | safe }}

            {% endif %}
        {% else %}
            <p>Nessun record presente.</p>
        {% endif %}
    </div>

    {% include 'footer.html' %}
</html>
