<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>Enti</title>
</head>

{% include 'header.html' %}

<body>
    <div class="container">
        {% include 'notifications.html' %}

        <h1>Enti</h1>

        <ul class="card-container">
            {% for ente in records %}
                <li class="card">
                    <h3>{{ ente.nome }}</h3>
                    <p>
                        Telefono: <strong>{{ ente.tel }}</strong><br>
                        E-mail: <strong>{{ ente.email }}</strong><br>
                        
                        {{ ente.localita.via }}<br>
                        {{ ente.localita.cap }} {{ ente.localita.citta }} ({{ ente.localita.provincia }})<br><br>

                        <form method="POST" action="{{ url_for('delete.elimina_ente', id_ente=ente.id) }}" onsubmit="return confirm('Sei sicuro di voler eliminare questo ente?');">
                            <button type="submit">Elimina</button>
                        </form>
                    </p>
                </li>
            {% else %}
                <li>Nessun record presente.</li>
            {% endfor %}
        </ul>
    </div>

    {% include 'footer.html' %}
</body>
</html>
