{% include 'header.html' %}

<body>
    <div class="container">
        <h1>Aggiungi pianta a US {{ num_us }}</h1>

        {% include 'notifications.html' %}

        <form method="POST" enctype="multipart/form-data">
            
            <div class="form-widget-group">
                <label>Pianta*: <input type="file" name="pianta" required></label>
                <button class="form-button" type="button" onclick="clearFiles('foto')">X</button>
            </div><!-- form-widget-group -->

            <button type="submit">Carica</button>
        </form>

        <br>
        <a href="{{ url_for('view.scheda', id=id) }}">Torna alla scheda</a>
    </div>

    {% include 'footer.html' %}
</body>
</html>
