<!DOCTYPE html>
<html lang="it">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='vanilla-datatables.css') }}">
    <title>{{ title }} | Archeo</title>
</head>

<body>
  <header>
    <nav>
      <ul>
        <li><a href="{{ url_for('main.index') }}">Archeo</a></li>
        
        <li class="dropdown">
          <a href="#" class="dropbtn">Crea</a>
          <ul class="dropdown-content">
            <li><a href="{{ url_for('create.nuova_anagrafica') }}">Anagrafica</a></li>
            <li><a href="{{ url_for('create.nuova_localita') }}">Località</a></li>
            <li><a href="{{ url_for('create.nuovo_ente') }}">Ente</a></li>
            <li><a href="{{ url_for('create.nuova_scheda_us') }}">Scheda US</a></li>
            <li class="separator"></li>
            <li><a href="{{ url_for('create.nuova_ortofoto') }}">Ortofoto</a></li>
            <li><a href="{{ url_for('create.nuovo_reperto_notevole') }}">Reperto notevole</a></li>
            <li><a class="disabled" href="#">Sacchetto materiali</a></li>
            <li><a class="disabled" href="#">Cassa materiali</a></li>
          </ul>
        </li>

        <li class="dropdown">
          <a href="#" class="dropbtn">Esplora</a>
          <ul class="dropdown-content">
            <li><a href="{{ url_for('view.visualizza_anagrafiche') }}">Anagrafiche</a></li>
            <li><a href="{{ url_for('view.visualizza_localita') }}">Località</a></li>
            <li><a href="{{ url_for('view.visualizza_enti') }}">Enti</a></li>
            <li><a href="{{ url_for('view.visualizza_schede') }}">Schede US</a></li>
            <li class="separator"></li>
            <li><a href="{{ url_for('view.visualizza_ortofoto') }}">Ortofoto</a></li>
            <li><a href="{{ url_for('view.visualizza_reperti_notevoli') }}">Reperti notevoli</a></li>
            <li><a class="disabled" href="#">Sacchetti materiali</a></li>
            <li><a class="disabled" href="#">Casse materiali</a></li>
            <li class="separator"></li>
            <li><a href="{{ url_for('view.visualizza_grafo') }}">Harris matrix</a></li>
          </ul>
        </li>

        <li class="dropdown">
          <a href="#" class="dropbtn">Modifica</a>
          <ul class="dropdown-content">
            <li><a href="{{ url_for('create.nuova_sequenza_fisica') }}">Sequenze fisiche</a></li>
            <li><a href="{{ url_for('create.nuova_sequenza_stratigrafica') }}">Sequenze stratigrafiche</a></li>
            <li><a class="disabled" href="#">Ortofoto</a></li>
          </ul>
        </li>

        <li class="dropdown">
          <a href="#" class="dropbtn">Debug</a>
          <ul class="dropdown-content">
            <li><a href="{{ url_for('main.initdb') }}">Inizializza database</a></li>
            <li><a href="{{ url_for('main.dumpdb') }}">Dump database</a></li>
            <li><a href="{{ url_for('main.create_dummy_data') }}">Crea dei dati di prova</a></li>
          </ul>
        </li>

        <li class="dropdown">
          <a href="#" class="dropbtn">Aiuto</a>
          <ul class="dropdown-content">
            <li><a href="{{ url_for('view.visualizza_manuale') }}">Manuale</a></li>
            <li class="separator"></li>
            <li><a class="disabled" href="#">Informazioni su Archeo</a></li>
          </ul>
        </li>

        <!-- Barra di ricerca -->
        <li class="search">
          <form action="{{ url_for('search.search') }}" method="get">
            <input type="text" name="q" minlength="3" placeholder="Cerca schede, località, descrizione…">
            <button type="submit">🔍</button>
          </form>
        </li>
      </ul>
    </nav>
  </header>