{% include 'header.html' %}

<body>
    <div class="container">
        {% include 'notifications.html' %}

        <h1>Nuova località</h1>
        <form method="POST">
            <label>Denominazione: <input type="text" name="denominazione"></label><br>
            <label>Via: <input type="text" name="via" required></label><br>
            <label>Città: <input type="text" name="citta" required></label><br>
            <label>Provincia: <input type="text" name="provincia" required></label><br>
            <label>CAP: <input type="number" name="cap" required></label><br>
            <button type="submit">Aggiungi</button>
        </form>
    </div>

    {% include 'footer.html' %}

</body>
</html>
